<mat-toolbar color="primary">

  <span class="nav-tool-items">

    <a *ngIf="!isLogged" mat-raised-button routerLink="/login" routerLinkActive="active">
      <button mat-button>
        <mat-icon>account_circle</mat-icon>
        Login
      </button>
    </a>&nbsp;

    <a *ngIf="isLogged" mat-raised-button routerLink="/inicio" routerLinkActive="active">
      <button mat-button>
        <mat-icon>home</mat-icon>
        Inicio
      </button>
    </a>&nbsp;
    <a *ngIf="!isLogged" mat-raised-button routerLink="/register" routerLinkActive="active">
      <button mat-button>
        <mat-icon>how_to_reg</mat-icon>
        Registrarse
      </button>
    </a>&nbsp;
    <a *ngIf="isLogged" mat-raised-button routerLink="/persona" routerLinkActive="active">
      <button mat-button>
        <mat-icon>account_box</mat-icon>
      </button>
      Mi Usuario
    </a>&nbsp;
    <a *ngIf="isLogged" mat-raised-button routerLink="/misdatos" routerLinkActive="active">
      <button mat-button>
        <mat-icon>contacts</mat-icon>
      </button>
      Mis Datos
    </a>&nbsp;
    <a *ngIf="isSubscriptor" mat-raised-button routerLink="/misactividades" routerLinkActive="active">
      <button mat-button>
        <mat-icon>fitness_center</mat-icon>
      </button>
      Mis Actividades
    </a>&nbsp;
    <!--administrador-->
    <a *ngIf="isAdministrador" mat-raised-button routerLink="/actividad" routerLinkActive="active">
      <button mat-button>
        <mat-icon>fitness_center</mat-icon>
      </button>
      Actividades
    </a>&nbsp;
    <a *ngIf="isAdministrador" mat-raised-button routerLink="/subscriptores" routerLinkActive="active">
      <button mat-button>
        <mat-icon>contacts</mat-icon>
      </button>
      Subscriptores
    </a>&nbsp;
    <a *ngIf="isAdministrador" mat-raised-button routerLink="/empleados" routerLinkActive="active">
      <button mat-button>
        <mat-icon> business</mat-icon>
      </button>
      Empleados
    </a>&nbsp;
    <a *ngIf="isAdministrador" mat-raised-button routerLink="/personas" routerLinkActive="active">
      <button mat-button>
        <mat-icon>people</mat-icon>
      </button>
      Usuarios
    </a>&nbsp;
    <a mat-raised-button routerLink="/logout" routerLinkActive="active">
      <button mat-button>
        <mat-icon>exit_to_app</mat-icon>
      </button>
      Salir
    </a>&nbsp;

  </span>
</mat-toolbar>
